[Unit]
Description = GitLab Runner
Requires = docker.service network.target
After = docker.service network.target

[Service]
EnvironmentFile = -/etc/environment
ExecStart = /usr/bin/gitlab-runner run --user gitlab-runner

KillSignal = SIGQUIT
FinalKillSignal = SIGTERM
TimeoutStopSec = 5min

[Install]
WantedBy = multi-user.target